<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AngularJS TodoMVC</title>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="js/lib/angular-material/angular-material.css"
  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="styles/main.css"
  media="screen,projection"/>
  
</head>
<body>

  <div layout="row" layout-align="center center">
    <h1 class="center-align">Todos</h1>
  </div>

  <md-content ng-controller="TodoCtrl">
    <md-list flex>
      <md-subheader class="md-no-sticky">
        <form ng-submit="addToList(todo, priority)">
          <md-input-container>
            <label>What needs to be done?</label>
            <input ng-model="todo">
          </md-input-container>
          <md-input-container>
            <md-select ng-model="priority" placeholder="Priority" class="md-no-underline">
         <md-option ng-repeat="priority in priorities" value="{{priority.id}}">{{priority.name}}</md-option>
       </md-select>
          </md-input-container>
        </form>
      </md-subheader>
      <md-list-item ng-repeat="todo in todoList track by $index">
        <md-checkbox ng-model="todo.done"></md-checkbox>
        <p> {{ todo.name }} </p>
        <p> {{ todo.priority}} </p>
        <md-button class="md-raised" ng-click="deleteTodo(todo.id)" type="button">Remove</md-button>
      </md-list-item>

    </md-list>
  </md-content>



  <script src="js/lib/requirejs/require.js"></script>
  <script src="js/container.js"></script>

</body>
</html>
