<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kalkulator</title>
  <link type="text/css" rel="stylesheet" href="js/lib/angular-material/angular-material.css"
  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="styles/main.css"
  media="screen,projection"/>
</head>
<body>
  <div class="container" ng-controller="CalculatorCtrl">
    <md-toolbar class="md-warn">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">My calculator</h2>
      </div>
    </md-toolbar>
    <h1>{{ result | limitTo: 7 }}</h1>
    <div>
      <div>
        <md-input-container>
          <label>value</label>
          <input type="text" ng-change="checkInput()" ng-model="value" pattern="\d{1,5}">
        </md-input-container>
      </div>
      </div>
      <input type="text"  ng-model="myText" name="inputName" ng-pattern="onlyNumbers">

    <div class="but">
      <md-button class="md-raised md-primary" ng-click="calculate()">result</md-button>
    </div>
    <md-button class="md-raised md-warn" ng-click="clear()">C</md-button>
  </div>

  <script src="js/lib/requirejs/require.js"></script>
  <script src="js/container.js"></script>

</body>
</html>
