h1 {
  font-weight: bold;
  font-size: 80px;
}
md-input-container {
  width: 250px;
}
.container {
  position: relative;
  top: 100px;
  max-width: 322px;
  margin: 0 auto;
  border: 1px solid;
}
.md-button.md-warn {
  width: 305px;
}
